@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-accent: var(--color-red-400);
  --color-base: var(--color-neutral-400);
  --color-highlight: var(--color-neutral-100);
  --color-background: var(--color-neutral-900);
}
